

@media (min-width:320px) and (max-width:991px){
    .darkCnt {
        padding-left: 25%;
        padding-top: 20px;
    }

    .logo img {
        width: 130px;
        height: 50px;
    }

    .hero-cnt h1 {
        font-size: 33px;
        font-weight: 800;
        margin-top: 8%;
        padding-right: 48%;
    }

    .hero-cnt p {
        font-size: 13px;
    }

    .hero-cnt .btn {
        font-size: 18px;
        padding: 5px 30px;
        margin-top: 10px;
    }

    .hero-img img {
        margin-top: 18px;
    }

    .sidebar aside a {
        font-size: 2.0rem;
    }

    .sidebar aside a:hover{
        font-size: 2.3rem;
    }
}